*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
    font-family: 'Open Sans';
    color: #FFFFFF;
}

body {
  box-sizing: border-box;
}

button {
    border : none;
}