.page-header {
    background-color: #007FC0;
    height: 56px;
    display: flex;
    align-items: center;
}

.page-header__menu {
    width: 23px;
    margin-left: 26px;
    margin-right: 30px;
    cursor: pointer;
}

.page-header__ie-logo {
    height: 32px;
}

.page-header__subscribe-button {
    background-color: #FF9900;
    height: 25px;
    width: 96px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 13px;
    line-height: 24px;
    font-family: 'Open Sans';
    font-style: normal;
    margin-right: 24px;
    cursor: pointer;
}

.page-header__left-section {
    flex:1;
    align-items: center;
    display: flex;
}

.page-header__right-section {
    display: flex;
    align-items: center;
}

.podcast-search {
    width: 165px;
    height: 32px;
    display: flex;
    align-items: center;
    margin-right: 28px;
}

.podcast-search__mic {
    width: 13.75px;
}

.podcast-search__search {
    width: 13.75px;
}

.podcast-search a {
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.podcast-search__title {
    width: 61px;
    height: 32px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 32px;
    flex: 1;
    margin-left: 10px;
}

.hero {
    height: 543px;
    background-color: #007FC0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 71px;
}

.hero__title {
    font-style: italic;
    font-weight: 800;
    font-size: 50px;
    line-height: 73px;
    text-align: center;
    text-transform: uppercase;
}

.hero__title span {
    color :#FF9900;
}

.hero__cancel {
    font-size: 20px;
    line-height: 73px;
    text-align: center;
}

.hero__cancel span {
    font-weight: 700;
}

.hero__explanation {
    font-size: 17px;
    line-height: 25px;
    text-align: center;
    max-width: 594px;
}

.subs-options {
    display: flex;
    justify-content: center;
    margin-bottom: 68px;
}

.subs-options__tabs {
    width: 691px;
    height: 544px;

    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top : -211px;
}

.subs-options__tabs-headers {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 119px;
    flex: 1;
    text-align: center;
    text-transform: uppercase;
    color: #848484;
    font-weight: 700;
    font-size: 15px;
    line-height: 20.43px;
    justify-content: center;
}

.subs-options__tabs-headers img {
    margin-bottom: 10px;
}

.subs-options__tabs-headers--selected {
    background-color: #171D42;
    color : #FFFFFF;
}

.subs-options__ul {
    border-bottom: 3px solid #171D42;
}

.subs-options__outer {
    margin-top: -1px;
    margin-left: -1px;
    margin-right: -2px;
}

.subs-list {
    display: flex;
    flex-direction: column;
    height: 423px;
}

.subs-list-item {
    display: flex;
    flex:1;
    border-bottom: 1px solid #C7C7C7;
    padding-left: 48px;
    padding-right: 37px;
    padding-top: 36px;
    position: relative;
}

.subs-list-item__col-1 {
    display: flex;
    flex-direction: column;
    flex : 5;
}

.subs-list-item__col-2 {
    display: flex;
    flex-direction: column;
    flex : 3;
}

.subs-list-item__col-3 {
    display: flex;
    flex-direction: column;
    flex : 3;
    align-items: center;
}

.subs-list-item__header {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #007FC0;
    margin-bottom: 15px;
}

.subs-list-item__explanation{
    font-size: 14px;
    line-height: 19px;
    color: #3E3E3E;
}

.subs-list-item__price-tag {
    font-style: italic;
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    color: #16192C;
    padding-top: 9px;
    text-align: center
}

.subs-list-item__price-tag--ss {
    display: none;
}

.subs-list-item__subscribe-button {
    width: 154px;
    height: 38px;
    background-color: #FF9900;
    color: #FFFFFF;
    border-radius: 3px;
    font-style: italic;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 12px;
}

.subs-list-item__show-more {
    font-style: italic;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    text-decoration-line: underline;
    color: #6F7B81
}

.subs-list-item__most-popular {
    position: absolute;
    top: 57px;
    background: #007FC0;
    left: -57px;
    padding-top: 2px;
    transform: rotate(270deg);
    width: 140px;
    text-align: center;
    height: 26px;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.hr-header {
    display: flex;
    align-items: flex-end;
}

.hr-header__title {
    margin-right: 9px;
    font-style: italic;
    font-weight: 800;
    font-size: 25px;
    line-height: 38px;
}

.hr-header__hr {
    height: 3px;
    flex:1;
    margin-bottom: 6px;
}

.subs-only-articles {
    margin-left: 124px;
    margin-right: 120px;
}

.subs-only-articles__article-items {
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
}

.article-item {
    width: 381px;
    display: flex;
    flex-direction: column;
}

.article-item__img {
    margin-bottom: 6px;
    cursor: pointer;
}

.article-item__details {
    color : black;
}

.article-item__genre {
    font-style: italic;
    font-weight: 800;
    font-size: 12px;
    line-height: 27px;
    letter-spacing: 0.25em;
    margin-bottom: 5px;
}

.article-item__title {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
    cursor: pointer;
}

.article-item__meta{
    color : #3A3A3A;
    font-family: 'Merriweather';
}

.article-item__author-name {
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 27px;
    color: #0180C1;
    margin-right: 2px;
}

.article-item__publish-date {
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 27px;
    margin-left: 2px;
}

.convince-section {
    margin-top : 85px;
    color: black;
    display: flex;
    margin-left: 360px;
    margin-right: 350px;
    margin-bottom: 76px;
    min-width: 700px;
    font-family: 'Open Sans';
    align-items: center;
    /* Nadir, buraya bir min with lazım olacak */
}

.convince-section__title {
    flex:2;
    font-style: italic;
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    color: #007FC0;
    margin-right: 10px;
}

.convince-section__explanation {
    flex:3;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: #3A3A3A;
}

.faqs {
    margin-left: 124px;
    margin-right: 120px;
    min-width: 375px;
    margin-bottom : 35px;

}

.faqs__list {
    margin-top: 34px;
    max-width: 709px;
    margin-left: auto;
    margin-right: auto;
}

.faq-item {
    border-bottom: 1px solid #FF9900;
    min-height: 47px;
    display: flex;
    flex-direction: column;
}

.faq-item__header {
    display: flex;
    cursor: pointer;
    flex: 1;
}

.faq-item__title {
    flex : 1;
    color : #727272;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 23px;
}

.faq-item__title--answer-visible {
    font-weight: 700;
    height: 46px;
}

.faq-item__icon--answer-visible {
    transform: rotate(45deg);
}

.faq-item__answer {
    font-size: 14px;
    line-height: 24px;
    color: #3A3A3A;
    margin-bottom: 16px;
}

.page-footer {
    background-color: #007FC0;
    margin-left: 124px;
    margin-right: 120px;
    margin-bottom : 100px;
    height: 281px;
    display: flex;
    align-items: flex-end;
    background-image: url('../images/sky.svg');
}

.page-footer__rocket {
    width: 322px;
    margin-bottom: -1px;
    margin-right: 55px;
}

.newsletter-form {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.newsletter-content{
    width: 304px;
}

.newsletter-content__title {
    font-style: italic;
    font-weight: 800;
    font-size: 23px;
    line-height: 128.3%;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.newsletter-content__detail {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 128.3%;
    margin-bottom: 13px;
}

.newsletter-form__form-items {
    border-radius: 3px;
    width: 414px;
    display: flex;
    justify-content: space-between;
}

.newsletter-form__input {
    width: 268px;
    height: 40px;
    border-radius: 3px;
    padding-left : 16px;
    border : none;
}

.newsletter-form__button {
    width: 130px;
    height: 40px;
    background: #FF9900;
    border-radius: 3px;
    color: #FFFFFF;
    font-weight: 700;
}

@media (max-width: 1024px) {
    .article-item {
        width: 243px;
    }

    .convince-section {
        margin-left: 120px;
        margin-right: 124px;
    }

    .faqs {
        margin-left: 261px;
        margin-right: 259px;
    }

    .page-footer {
        margin-left: 43px;
        margin-right: 43px;
    }
}

@media (max-width: 414px) {
    .page-header__menu {
        width: 27px;
        margin-left: 20px;
        margin-right: 16px;
    }

    .page-header__subscribe-button {
        width: 88px;
        margin : 0 12px;
        border-radius: 3px;
    }

    .podcast-search {
        width: 100px;
        margin-right: 0;
        justify-content: space-around;
    }

    .podcast-search__title {
        display: none;
    }

    .podcast-search__search {
        width: 21px;
    }

    .hero {
        padding-top: 50px;
        height: 353px;
    }

    .hero__title {
        font-size: 36px;
        line-height: 44px;
    }

    .hero__explanation {
        width: 350px;
    }

    .subs-options__tabs {
        margin:0;
        border-radius: 0;
        box-shadow: none;
        height: 496px;
    }

     .subs-options__tabs-headers {
        height: 70px;
        font-size: 11px;
        line-height: 14.98px;
    }

    .subs-options__tabs-headers img {
        margin-bottom: 5px;
        height: 22px;
    }

    .subs-list-item {
        padding-left: 43px;
        padding-right: 14px;
        padding-top: 24px;
    }

    .subs-list-item__col-2 {
        display: none;
    }
    
    .subs-list-item__price-tag--ss {
        font-style: italic;
        font-weight: 700;
        font-size: 25px;
        line-height: 34px;
        color: #16192C;
        text-align: center;
        display: block;
        margin-top: -10px;
    }

    .subs-list-item__subscribe-button {
        font-size: 13px;
        line-height: 18px;
        text-align: center;
        width: 105px;
        height: 30.25px;
    }

    .subs-list-item__show-more {
        font-size: 14px;
        line-height: 19px;
    }
}